html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.card-body {
 background-image: linear-gradient(-20deg, #FEF4C9 0%, #AFCFCE 100%);
  border: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 1.5rem 0;
}

h1 {
  font-size: 2rem;
text-align: center;
  margin: 0.75rem 1rem;
}

h2 {
  font-size: 1.6rem;
text-align: center;
  margin: 0.5rem 1rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  padding: 0.25rem 0;
  text-align: center;
}

#p1 {
  font-size: 1rem;
  padding: 0.25rem 0;
  text-align: center;
}

img {
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 50%;
border: dotted;
border-color: lightpink;
}

a {
  color: #f54996;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #f54996;
}

.navigation {
  background: black;
  color: #fff;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  font-size: 1.2rem;
  text-align: center;

  padding: 1rem;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline;
  padding-right: 0.5rem;
}

.navigation a {
  color: #fff;
}

.navigation a:hover {
  border: 0;
  color: #f54996;
}


.color-secondary {
  color: #f54996;
}

/*
  IDs
*/
#active a {
  border-bottom: 2px solid #f54996;
}


* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

